/* RESET --------------------------------------------------------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:top;background:transparent}body{line-height:1px}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{text-decoration:none;margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}a:focus{outline:none;}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,\:article,\:aside,\:details,\:figcaption,\:figure,\:footer,\:header,\:hgroup,\:menu,\:nav,\:section{display:block}

/* --------------------------------------------------------- */
// @import 'includes/iconizr-svg-data';

@import 'includes/variables';
@import 'includes/helpers';

#datacon{
    display:none;
    visibility: hidden;
}
html {
    min-height:100%;
    letter-spacing: .1em;
}

.desktop {
    width:100%;

    a:hover{
        color:$primaryColor;
    }

}
.mainwrapper{
    height:100%;

}
body {
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color:#FFF;
    overflow: hidden;
    min-height: 100%;
    min-width: 0;
    width:100%;
    background: rgb(200,200,200);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );


    &.upgrade {
        text-align: center;
        margin-top: 60px;
    }

    &.mobile, .mobile &{
        width:100%;
        min-height: 500px;
    }

    .desktop & {
        min-height: 100%;
        // min-width: 500px;
        overflow: auto;
    }
}


.iframe_controls, .tumblr_controls {
    display: none !important;
}

.fb-like.fb_edge_widget_with_comment.fb_iframe_widget span iframe {
    /* Now you can apply css here */
    bottom:0!important;
}
#mainContent{
    position:fixed;

    overflow: hidden;
}


/* 
    SOUNDCLOUD AUDIO WIDGET
*/
.soundcloud_audio_player{
    width:200px !important;
    height:200px !important;
    z-index: 100;
}

/* 
    STYLES FOR MAIN CONTENT STRUCTURE
 */

a{
    color:#FFF;
    text-decoration:underline;
    transition:color .25s ease-out;

    &.btn-audio{
        text-decoration:none; 
        border:none;
        width:12px;
        position: absolute;
        top: 12px;
        right: 20px;
        z-index: 10001;


    }
}
.muted {
    a.btn-audio:before{
        opacity:.4;
    }
}
#topMenu{
    height:auto;
    padding:0px;
    z-index: 10;

    a{
        &.dashboard, &.follow, &.connect, &.share{
            @extend .primaryFontRegular;
            font-size:17px;
        }
        &.dashboard, &.follow{
            // 
        }
        &.follow{
            position: relative;
            margin-left: 13px;
            &:before{
               content: '+';
               display: inline-block;
            }

        }
    }
}
.mobile.horizontal {
    #topMenu{
         a{
            &.dashboard, &.follow, &.connect, &.share{
                display:inline-block;
            }
        }
    }
    #mainMenu {
        top: 30px;
    }
}

#shareDrawer,#connectDrawer {

    overflow: hidden;
    background-color: rgba(255,255,255,.2);

    display: inline-block;
    position: fixed;

    transition: all 0.95s ease-out;
    top: -100%;
    left: 30px;
    z-index: 10000;
    &.active{
        top:40px;
    }
    .shareWrapper{
        padding:7px;
    }
    a.icon-btn_close_overlay{
        top: 4px;
        display:none;

        &:before{
            width: 43px;
            height: 43px;
            font-size: 43px;
        }

    }

}

#connectDrawer {
    .connectWrapper {
        padding: 0px 7px 0px;
    }
    a{
        color:#FFF;
        font-size: 36px;
        display:inline-block;
        position:relative;

        padding: 0px 5px;
        margin: 0px 5px 0px 0px;

    &.social{

            top:1px;
            -webkit-transform: scale(.5,.5);
            transform: scale(.5,.5);
            &:before{
                position: relative;
            }
            &:last-child{
                margin-right: 0px;
            }
    
    }    
}
}
#shareDrawer {
    left: 134px;
    overflow: visible;

    .shareDrawerItem{
        display:inline-block;
        margin:0px 10px 0px 0px; 
        overflow: visible;

        &:last-child{
            margin-right: 0px;
            margin-top: -15px;
            // @media all and (-ms-high-contrast:none) {
            //     margin-top:0px; /* IE10 */
            //     *::-ms-backdrop {
            //         margin-top:0px;
            //     } /* IE11 */
            // }

        }
    }
}
#shareDrawer, #connectDrawer{
    display:none;
}

.btnLegalClose{
    position: absolute;
    top:15px;
    right:15px;

}



/* 
    MAIN BACKGROUND SLIDER
 */
body {

}

.theaterStatus{
    position: fixed;
    left: 20px;
    bottom: 15px;
    z-index:10001;

    .ticketsCTA{
        @extend .primaryFontRegular;
        padding: 10px 5px;
        text-align: center;
        min-width: 148px;
        height: 46px;
        overflow: hidden;
        display: inline-block;
        border: #FFF 3px solid;
        font-size: 21px;
        color: #FFF;
        transition: all .3s ease;


        &:hover{
            border-color:$primaryColor;
            background-color:rgba(0,0,0,.7);
            opacity:.6;
        }
    }
    h1.movietitle{
        display:block;
        overflow: hidden;
        text-align: left;
        text-indent: -10000px;
        width:143px;
        height:50px;
        background: #111;

    }
    h2.releaseStatus{
        font-size: 17px;
        padding:8px 0px;
    }
    a{
        text-decoration: none;
    }
    span{
        @extend .primaryFontBold;
    }

}
.loading #mainContent, .loading #topMenu{
    opacity: 0;
}

.promo{
    position: fixed;
    bottom: 11px;
    width: 100%;
}


#footerMain{
    position: absolute;
    bottom:28px;
    left:0px;
    text-align: center;

    
    span{
        @extend .primaryFontBold;
    }


    h2{
        font-size: 17px;
    }
    a{
        text-decoration: none;
    }

    .legalToggle {
        position: fixed;
        right: 30px;
        bottom: 15px;
    }
}

#legal {
    background: rgba(0,0,0,.9);
    width: 100%;
    display: block;
    position: fixed;
    // padding:10px 0px;
    max-height: 0;
    transition: max-height 0.45s ease;
    bottom: 0;
    left: 0;
    z-index: 10003;

   #legalBtns {
        padding:10px;
        margin:10px auto 0px;
        text-align: center;

        a{
            text-align: center;
            
            font-size:14px;
            margin:0px;
            padding:0px 9px 0px 0px;
            // margin-right: 20px;
            &:last-child{
                margin-right:0px;
            }

        }
    }
    &.active{
        max-height:100%;
    }
    .btnLegalClose{
        position: absolute;
        top:15px;
        right:15px;
        display:block;
        text-decoration: none;
    }
}
.copyright{
    font-size: 12px;
    letter-spacing: .1em;
    text-align: center;
    margin:10px auto;
}

/* PRELOADER/UPGRADE BROWSER */
.preload-browser{

}

.vertical{

}


.mobile {

}


/* ROTATE YOUR PHONE PROMPT */
.landscape, .mobile.horizontal{

}

@import 'desktop/navigation';
@import 'desktop/overlay';
@import 'desktop/tumblr';
