/* RESET --------------------------------------------------------- */
/* line 2, scss/main.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: top;
  background: transparent;
}

/* line 2, scss/main.scss */
body {
  line-height: 1px;
}

/* line 2, scss/main.scss */
nav ul {
  list-style: none;
}

/* line 2, scss/main.scss */
blockquote, q {
  quotes: none;
}

/* line 2, scss/main.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 2, scss/main.scss */
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 2, scss/main.scss */
a:focus {
  outline: none;
}

/* line 2, scss/main.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 2, scss/main.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 2, scss/main.scss */
del {
  text-decoration: line-through;
}

/* line 2, scss/main.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 2, scss/main.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, scss/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 2, scss/main.scss */
input, select {
  vertical-align: middle;
}

/* line 2, scss/main.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 2, scss/main.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, \:article, \:aside, \:details, \:figcaption, \:figure, \:footer, \:header, \:hgroup, \:menu, \:nav, \:section {
  display: block;
}

/* --------------------------------------------------------- */
/* line 6, scss/includes/_variables.scss */
.primaryFont, .primaryFontItalic, .primaryFontRegular, #topMenu a.dashboard, #topMenu a.follow, #topMenu a.connect, #topMenu a.share, .theaterStatus .ticketsCTA, .primaryFontBold, .theaterStatus span, #footerMain span {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 13, scss/includes/_variables.scss */
.primaryFontItalic {
  font-style: italic;
}

/* line 17, scss/includes/_variables.scss */
.primaryFontRegular, #topMenu a.dashboard, #topMenu a.follow, #topMenu a.connect, #topMenu a.share, .theaterStatus .ticketsCTA {
  font-weight: 400;
}

/* line 21, scss/includes/_variables.scss */
.primaryFontBold, .theaterStatus span, #footerMain span {
  font-weight: 700;
}

/* line 46, scss/includes/_variables.scss */
.desktop-only {
  display: initial;
}
@media only screen and (max-width: 1020px) {
  /* line 46, scss/includes/_variables.scss */
  .desktop-only {
    display: none;
  }
}

/* line 52, scss/includes/_variables.scss */
.mobile-only {
  display: none;
}
@media only screen and (max-width: 1020px) {
  /* line 52, scss/includes/_variables.scss */
  .mobile-only {
    display: initial;
  }
}

@font-face {}
/* line 78, scss/includes/_variables.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 1, scss/includes/_helpers.scss */
.abs {
  top: 0;
  left: 0;
  position: absolute;
}

/* line 7, scss/includes/_helpers.scss */
.rel {
  top: 0;
  left: 0;
  position: relative;
}

/* line 12, scss/includes/_helpers.scss */
.absFull {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

/* line 19, scss/includes/_helpers.scss */
.hidden {
  visibility: hidden;
  display: none;
  opacity: 0;
}

/* line 25, scss/includes/_helpers.scss */
.clickKill {
  cursor: none;
}

/* line 28, scss/includes/_helpers.scss */
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 36, scss/includes/_helpers.scss */
.mobile .clickKill {
  display: block;
  cursor: pointer;
}

/* line 41, scss/includes/_helpers.scss */
.TL {
  top: 0;
  left: 0;
  position: absolute;
}

/* line 42, scss/includes/_helpers.scss */
.T {
  top: 0;
  left: 50%;
  position: absolute;
}

/* line 43, scss/includes/_helpers.scss */
.TR {
  top: 0;
  right: 0;
  position: absolute;
}

/* line 44, scss/includes/_helpers.scss */
.L {
  top: 50%;
  left: 0;
  position: absolute;
}

/* line 45, scss/includes/_helpers.scss */
.C {
  top: 50%;
  left: 50%;
  position: absolute;
}

/* line 46, scss/includes/_helpers.scss */
.R {
  top: 50%;
  right: 0;
  position: absolute;
}

/* line 47, scss/includes/_helpers.scss */
.BL {
  bottom: 0;
  left: 0;
  position: absolute;
}

/* line 48, scss/includes/_helpers.scss */
.B {
  bottom: 0;
  left: 50%;
  position: absolute;
}

/* line 49, scss/includes/_helpers.scss */
.BR {
  bottom: 0;
  right: 0;
  position: absolute;
}

/* line 50, scss/includes/_helpers.scss */
.full {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 51, scss/includes/_helpers.scss */
.invis {
  visibility: hidden;
  opacity: 0;
}

/* line 52, scss/includes/_helpers.scss */
.hList {
  list-style: none;
  white-space: nowrap;
}

/* line 53, scss/includes/_helpers.scss */
.hList li {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}

/* line 55, scss/includes/_helpers.scss */
.alignleft {
  display: inline-block;
  float: left;
  text-align: left;
}

/* line 60, scss/includes/_helpers.scss */
.alignright {
  display: inline-block;
  float: right;
  text-align: right;
}

/* line 65, scss/includes/_helpers.scss */
.fullScn {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* line 10, scss/main.scss */
#datacon {
  display: none;
  visibility: hidden;
}

/* line 14, scss/main.scss */
html {
  min-height: 100%;
  letter-spacing: .1em;
}

/* line 19, scss/main.scss */
.desktop {
  width: 100%;
}
/* line 22, scss/main.scss */
.desktop a:hover {
  color: #900000;
}

/* line 27, scss/main.scss */
.mainwrapper {
  height: 100%;
}

/* line 31, scss/main.scss */
body {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #FFF;
  overflow: hidden;
  min-height: 100%;
  min-width: 0;
  width: 100%;
  background: #c8c8c8;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
}
/* line 45, scss/main.scss */
body.upgrade {
  text-align: center;
  margin-top: 60px;
}
/* line 50, scss/main.scss */
body.mobile, .mobile body {
  width: 100%;
  min-height: 500px;
}
/* line 55, scss/main.scss */
.desktop body {
  min-height: 100%;
  overflow: auto;
}

/* line 63, scss/main.scss */
.iframe_controls, .tumblr_controls {
  display: none !important;
}

/* line 67, scss/main.scss */
.fb-like.fb_edge_widget_with_comment.fb_iframe_widget span iframe {
  /* Now you can apply css here */
  bottom: 0 !important;
}

/* line 71, scss/main.scss */
#mainContent {
  position: fixed;
  overflow: hidden;
}

/* 
    SOUNDCLOUD AUDIO WIDGET
*/
/* line 81, scss/main.scss */
.soundcloud_audio_player {
  width: 200px !important;
  height: 200px !important;
  z-index: 100;
}

/* 
    STYLES FOR MAIN CONTENT STRUCTURE
 */
/* line 91, scss/main.scss */
a {
  color: #FFF;
  text-decoration: underline;
  transition: color .25s ease-out;
}
/* line 96, scss/main.scss */
a.btn-audio {
  text-decoration: none;
  border: none;
  width: 12px;
  position: absolute;
  top: 12px;
  right: 20px;
  z-index: 10001;
}

/* line 109, scss/main.scss */
.muted a.btn-audio:before {
  opacity: .4;
}

/* line 113, scss/main.scss */
#topMenu {
  height: auto;
  padding: 0px;
  z-index: 10;
}
/* line 119, scss/main.scss */
#topMenu a.dashboard, #topMenu a.follow, #topMenu a.connect, #topMenu a.share {
  font-size: 17px;
}
/* line 126, scss/main.scss */
#topMenu a.follow {
  position: relative;
  margin-left: 13px;
}
/* line 129, scss/main.scss */
#topMenu a.follow:before {
  content: '+';
  display: inline-block;
}

/* line 140, scss/main.scss */
.mobile.horizontal #topMenu a.dashboard, .mobile.horizontal #topMenu a.follow, .mobile.horizontal #topMenu a.connect, .mobile.horizontal #topMenu a.share {
  display: inline-block;
}
/* line 145, scss/main.scss */
.mobile.horizontal #mainMenu {
  top: 30px;
}

/* line 150, scss/main.scss */
#shareDrawer, #connectDrawer {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  position: fixed;
  transition: all 0.95s ease-out;
  top: -100%;
  left: 30px;
  z-index: 10000;
}
/* line 162, scss/main.scss */
#shareDrawer.active, #connectDrawer.active {
  top: 40px;
}
/* line 165, scss/main.scss */
#shareDrawer .shareWrapper, #connectDrawer .shareWrapper {
  padding: 7px;
}
/* line 168, scss/main.scss */
#shareDrawer a.icon-btn_close_overlay, #connectDrawer a.icon-btn_close_overlay {
  top: 4px;
  display: none;
}
/* line 172, scss/main.scss */
#shareDrawer a.icon-btn_close_overlay:before, #connectDrawer a.icon-btn_close_overlay:before {
  width: 43px;
  height: 43px;
  font-size: 43px;
}

/* line 183, scss/main.scss */
#connectDrawer .connectWrapper {
  padding: 0px 7px 0px;
}
/* line 186, scss/main.scss */
#connectDrawer a {
  color: #FFF;
  font-size: 36px;
  display: inline-block;
  position: relative;
  padding: 0px 5px;
  margin: 0px 5px 0px 0px;
}
/* line 195, scss/main.scss */
#connectDrawer a.social {
  top: 1px;
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}
/* line 200, scss/main.scss */
#connectDrawer a.social:before {
  position: relative;
}
/* line 203, scss/main.scss */
#connectDrawer a.social:last-child {
  margin-right: 0px;
}

/* line 210, scss/main.scss */
#shareDrawer {
  left: 134px;
  overflow: visible;
}
/* line 214, scss/main.scss */
#shareDrawer .shareDrawerItem {
  display: inline-block;
  margin: 0px 10px 0px 0px;
  overflow: visible;
}
/* line 219, scss/main.scss */
#shareDrawer .shareDrawerItem:last-child {
  margin-right: 0px;
  margin-top: -15px;
}

/* line 232, scss/main.scss */
#shareDrawer, #connectDrawer {
  display: none;
}

/* line 236, scss/main.scss */
.btnLegalClose {
  position: absolute;
  top: 15px;
  right: 15px;
}

/* 
    MAIN BACKGROUND SLIDER
 */
/* line 252, scss/main.scss */
.theaterStatus {
  position: fixed;
  left: 20px;
  bottom: 15px;
  z-index: 10001;
}
/* line 258, scss/main.scss */
.theaterStatus .ticketsCTA {
  padding: 10px 5px;
  text-align: center;
  min-width: 148px;
  height: 46px;
  overflow: hidden;
  display: inline-block;
  border: #FFF 3px solid;
  font-size: 21px;
  color: #FFF;
  transition: all .3s ease;
}
/* line 272, scss/main.scss */
.theaterStatus .ticketsCTA:hover {
  border-color: #900000;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: .6;
}
/* line 278, scss/main.scss */
.theaterStatus h1.movietitle {
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -10000px;
  width: 143px;
  height: 50px;
  background: #111;
}
/* line 288, scss/main.scss */
.theaterStatus h2.releaseStatus {
  font-size: 17px;
  padding: 8px 0px;
}
/* line 292, scss/main.scss */
.theaterStatus a {
  text-decoration: none;
}

/* line 300, scss/main.scss */
.loading #mainContent, .loading #topMenu {
  opacity: 0;
}

/* line 304, scss/main.scss */
.promo {
  position: fixed;
  bottom: 11px;
  width: 100%;
}

/* line 311, scss/main.scss */
#footerMain {
  position: absolute;
  bottom: 28px;
  left: 0px;
  text-align: center;
}
/* line 323, scss/main.scss */
#footerMain h2 {
  font-size: 17px;
}
/* line 326, scss/main.scss */
#footerMain a {
  text-decoration: none;
}
/* line 330, scss/main.scss */
#footerMain .legalToggle {
  position: fixed;
  right: 30px;
  bottom: 15px;
}

/* line 337, scss/main.scss */
#legal {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  display: block;
  position: fixed;
  max-height: 0;
  transition: max-height 0.45s ease;
  bottom: 0;
  left: 0;
  z-index: 10003;
}
/* line 349, scss/main.scss */
#legal #legalBtns {
  padding: 10px;
  margin: 10px auto 0px;
  text-align: center;
}
/* line 354, scss/main.scss */
#legal #legalBtns a {
  text-align: center;
  font-size: 14px;
  margin: 0px;
  padding: 0px 9px 0px 0px;
}
/* line 361, scss/main.scss */
#legal #legalBtns a:last-child {
  margin-right: 0px;
}
/* line 367, scss/main.scss */
#legal.active {
  max-height: 100%;
}
/* line 370, scss/main.scss */
#legal .btnLegalClose {
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  text-decoration: none;
}

/* line 378, scss/main.scss */
.copyright {
  font-size: 12px;
  letter-spacing: .1em;
  text-align: center;
  margin: 10px auto;
}

/* PRELOADER/UPGRADE BROWSER */
/* ROTATE YOUR PHONE PROMPT */
/* 
	STYLES FOR MAIN MENU
*/
/* 
	STYLES FOR CONTENT OVERLAY
*/
/* line 1, scss/desktop/_tumblr.scss */
section#posts {
  display: none;
}

/* line 5, scss/desktop/_tumblr.scss */
#tumblr {
  display: none;
}

/* line 10, scss/desktop/_tumblr.scss */
.mobile #tumblrLogo {
  -webkit-transform: scale(0.5, 0.5);
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -o-transform-origin: center top;
  transform-origin: center top;
}

/* line 32, scss/desktop/_tumblr.scss */
#tumblr .post-wrapper, #tumblr .post-content {
  position: relative;
  width: 280px;
  display: block;
}

/* line 37, scss/desktop/_tumblr.scss */
.thumbPost {
  width: 280px;
  position: relative;
}

/* line 43, scss/desktop/_tumblr.scss */
.photo-wrapper img,
.video-wrapper img {
  width: 100%;
}

/* line 54, scss/desktop/_tumblr.scss */
.video-wrapper .playArrow {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background: url(../images/tumblr/videoArrow.png) center center no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
}
