section#posts{
	display:none;
}

#tumblr {
	display: none;
	
}

.mobile #tumblrLogo {
	@include transform(scale(0.5, 0.5));
	@include transform-origin(center top);
}

#tumblrPosts {

}

#thumbs {
	
}

article {

}

#page {

}


#tumblr .post-wrapper, #tumblr .post-content {
    position: relative;
    width: 280px;
	display: block;
}
.thumbPost {
	width: 280px;
	position: relative;
}


.photo-wrapper img,
.video-wrapper img {
    width: 100%;
}

.panel {

}

.video-wrapper {
	
    .playArrow {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        background: url(../images/tumblr/videoArrow.png) center center no-repeat;
        background-size: 50% auto;
        opacity: 0.5;
    }
}

#tumblr .post-btns {

}

.post-btn {

}


#footer {

}
