#tumblrPost {
    display:  none;

    .permalink & {
        display: block;
        z-index: 110;
    }
}

#tumblrPostContent {
    @include transform(translate(-50%));
    top: 100px;
    width: 440px;
    bottom: 0;
    text-align: center;
    display: block;
}


#tumblrPostBg {
    left: 20px;
    right: 20px;
    display: block;
    background: #000;
    height: 100%;
}
#tumblrPostCurtain {
    left: 20px;
    right: 20px;
    text-align: center;
    display: block;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}

#tumblrPostCurtainL, #tumblrPostCurtainR {
    width: 50%;
    height: 100%;
    display: block;
    background: #000;
}

#tumblrPostInner {
    left: 0px;
    top: 10px;
    display: block;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#tumblrPostInnerContent {
    position: relative;
    left: 30px;
    width: 380px;
    display: block;
}

#tumblrPostInnerContent {
    .photo-wrapper {
        width: 100%;
        text-align: center;
        img {
            margin: auto;
        }
    }

    .post-content {
        position: relative;
        width: 100%;
        background: #000;
    }

    .post-btns {
        left: -10px;
        position: relative;
        top: auto;
        height: 44px;
        width: 400px;
        display: block;
        margin-top: 10px;
        overflow: hidden;
        background: #fff;
        margin-bottom: 15px;
    }
    .post-btn {
        vertical-align: top;
        display: inline-block;
        margin-top: 6px;
        &.like-control {
            margin-top: 8px;
        }
        &.reblog-control {
            margin-top: 7px;
            padding-left: 5px;
        }
        width: 27px;
        height: 32px;

        &.share-item {
            background: url(../images/tumblr/shareBtnIcons2.png);

            &.permalink {
                background-position: left top;
                .desktop &:hover {
                    background-position: left bottom;
                }
            }

            &.reblog-control {
                background-position: -32px top;
                .desktop &:hover {
                    background-position: -32px bottom;
                }
            }

            &.facebook {
                background-position: -64px top;
                .desktop &:hover {
                    background-position: -64px bottom;
                }
            }

            &.twitter {
                background-position: -96px top;
                .desktop &:hover {
                    background-position: -96px bottom;
                }
            }

            &.pinterest {
                background-position: -126px top;
                .desktop &:hover {
                    background-position: -126px bottom;
                }
            }
        }
    }

    .caption {
        font-family: $mont;
        position: relative;
        width: 100%;
        font-size: 20px;
        line-height: 22px;
        color: #fff;
        text-align: center;
        display: block;
        margin-bottom: 10px;

        p {
            margin-bottom: 18px;
        }
    }
    .hashTags {
        font-family: $univers;
        letter-spacing: 2px;
        position: relative;
        width: 100%;
        font-size: 31px;
        line-height: 36px;
        color: #fff;
        text-align: center;
        display: block;
        margin-bottom: 18px;

        .hashTag {
            display: inline-block;
            margin-right: 7px;
        }
    }

    .postNavBtns {
        width: 100%;
        height: 35px;
        display: block;
        margin-top: 10px;
        text-align: center;
        position: relative;
    }

    .prevBtn {
        background: url(../images/tumblrpost/arrowBtns.png) left top;
        width: 21px;
        height: 35px;
        display: block;
        .desktop &:hover {
            background-position: left bottom;
        }

    }

    .nextBtn {
        background: url(../images/tumblrpost/arrowBtns.png) right top;
        width: 21px;
        height: 35px;
        display: block;
        .desktop &:hover {
            background-position: right bottom;
        }

    }

    .postNotes {
        width: 100%;
        position: relative;
        display: block;
    }

    .notes {
        font-size: 14px;
        line-height: 18px;
        text-align: left;
        color: #fff;
        font-family: $mont;
        list-style: none;


        li {
            margin-bottom: 12px;
        }
        a {
            color: #918f90;
            .desktop &:hover {
                color: #3e3e3e;
            }
        }

        .avatar_frame {
            margin-right: 8px;
        }
    }
}


@media screen and (max-width: 400px) {
    .single-post .homeBtn .label {
        font-size: 18px;
    }
}

#tumblrPost .arrow {
    left: 10px;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    overflow: hidden;
    display: block;
    cursor: pointer;

    .line {
        left: 13px;
        top: 48%;
        width: 17px;
        height: 2px;
        display: block;
        background: #fff;
        position: absolute;
        @include transition(width 0.2s);
    }
    .line1 {
        @include transform(rotate(-45deg));
        @include transform-origin(left center);
    }
    .line2 {
        @include transform(rotate(45deg));
        @include transform-origin(left center);
    }

    .icon {
        width: 40px;
        height: 40px;
        display: block;
        background: #000;
        @include transition(left 0.2s, right 0.2s);

    }
    .icon2 {
        left: 40px;
        width: 40px;
        height: 40px;
        display: block;
        background: #fff;
        @include transition(left 0.2s, right 0.2s);

        .line {
            background: #000;
        }
    }

    .desktop &:hover {
        .line {
            width: 10px;
        }

        .icon {
            left: -40px;
        }
        .icon2 {
            left: 0;
        }
    }


    .mobile & {
        top: 10px;
        margin-top: 0;
    }

    &#tumblrPostRight {
        left: auto;
        right: 10px;
        .line {
            left: auto;
            right: 13px;
        }
        .line1, .line2 {
            @include transform-origin(right center);
        }

        .icon2 {
            left: auto;
            right: 40px;
        }

        .mobile & {
            top: 10px;
            margin-top: 0;
            right: auto;
            left: 100px;
        }
    }

    .desktop &#tumblrPostRight:hover {
        .icon {
            left: auto;
            right: -40px;
        }
        .icon2 {
            left: auto;
            right: 0;
        }
    }
}




#tumblrPost .upArrow {
    left: 50%;
    width: 40px;
    height: 0;
    top: 10px;
    overflow: hidden;
    display: block;
    cursor: pointer;
    @include transform(translateX(-50%));

        .line {
            top: 13px;
            left: 48%;
            height: 17px;
            width: 2px;
            display: block;
            background: #fff;
            position: absolute;
            @include transition(height 0.2s);
        }
        .line1 {
            @include transform(rotate(-45deg));
            @include transform-origin(center top);
        }
        .line2 {
            @include transform(rotate(45deg));
            @include transform-origin(center top);
        }

        .icon {
            @include transition(top 0.2s);
            width: 40px;
            height: 40px;
            display: block;
            background: #000;

        }
        .icon2 {
            @include transition(top 0.2s);
            top: 40px;
            width: 40px;
            height: 40px;
            display: block;
            background: #fff;

            .line {
                background: #000;
            }
        }

        .desktop &:hover {
            .icon {
                top: -40px;
            }
            .icon2 {
                top: 0;
            }
            .line {
                height: 10px;
            }
        }

    .permalink & {
        display: none;
    }

    .mobile & {
        top: 10px;
        margin-top: 0;
        right: auto;
        left: 75px;
    }
}
