.abs {
    top: 0;
    left: 0;
    position: absolute;
}

.rel {
    top: 0; left: 0;
    position: relative;
}

.absFull {
    top: 0;    left: 0;
    position: absolute;
    width: 100%; height: 100%;
    display: block;
}

.hidden {
    visibility: hidden;
    display: none;
    opacity: 0;
}

.clickKill {
    cursor: none;
}
.unselectable{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}


.mobile .clickKill {
    display: block;
    cursor: pointer;
}

.TL { top: 0; left: 0; position: absolute; }
.T { top: 0; left: 50%; position: absolute; }
.TR { top: 0; right: 0; position: absolute; }
.L { top: 50%; left: 0; position: absolute; }
.C { top: 50%; left: 50%; position: absolute; }
.R { top: 50%; right: 0; position: absolute; }
.BL { bottom: 0; left: 0; position: absolute; }
.B { bottom: 0; left: 50%; position: absolute; }
.BR { bottom: 0; right: 0; position: absolute; }
.full { width: 100%; height: 100%; display: block; }
.invis { visibility: hidden; opacity: 0; }
.hList { list-style: none; white-space: nowrap;}
.hList li { display: inline-block;  white-space: normal; vertical-align: top;}

.alignleft {
    display:inline-block;
    float:left;
    text-align:left;
}
.alignright {
    display:inline-block;
    float:right;
    text-align:right;
}
.fullScn{
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%
}
