//
// fonts
//


.primaryFont{
    font-family:'Montserrat', Helvetica, Arial, sans-serif;
    font-style: normal;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.primaryFontItalic{
    @extend .primaryFont;
    font-style: italic;
}
.primaryFontRegular {
    @extend .primaryFont;
    font-weight:400;
}
.primaryFontBold {
    @extend .primaryFont;
    font-weight: 700;
}

//
// vars
//

$mobileThreshold: 1020px;

//
// colors
//
$primaryColor: #900000;

//
// RESPONSIVE
//
$break_mobileThreshold: "only screen and (max-width : 1020px)";

$break_1140w: "only screen and (max-width : 1138px)";
$break_768w: "only screen and (max-width : 768px)";
$break_768h: "only screen and (max-height : 768px)";

.desktop-only{
    display:initial;
    @media #{$break_mobileThreshold} {
        display:none;
    }
}
.mobile-only{
    display:none;
    @media #{$break_mobileThreshold} {
        display:initial;
    }
}

// $logoBuffer: calc(90% - 330px);


// 
//  ICON FONTS 
// 


@font-face {
    // font-family: 'icomoon';
    // src:url('data:application/octet-stream;base64,');
    // src:url('data:application/octet-stream;base64,') format('embedded-opentype'),
    //     url('data:application/octet-stream;base64,') format('truetype'),
    //     url('data:application/octet-stream;base64,') format('woff'),
    //     url('data:application/octet-stream;base64,') format('svg');

    // font-weight: normal;
    // font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    // &:before, span:before{
    //     content:' ';
    //     position: absolute;
    //     transition:all .15s ease-out;
    //     display: inline-block;
    //     -webkit-mask-size: cover;
    //     mask-size: cover;
    // }
    // &:hover:before, &:hover span:before{
    //     color:$primaryColor;
    //     fill:currentColor;
    //     // background-color:$primaryColor;
    // }
    // &:hover img, &:hover span img{
    //     color:$primaryColor;
    //     fill:currentColor;
    // }

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//
// mixins
//

@mixin transition($t...) {
    -webkit-transition: $t;
    -moz-transition: $t;
    -o-transition: $t;
    transition: $t;
}

@mixin transition-delay($t...) {
    -webkit-transition-delay: $t;
    -moz-transition-delay: $t;
    -o-transition-delay: $t;
    transition-delay: $t;
}

@mixin transform($t...) {
    -webkit-transform: $t;
    -moz-transform: $t;
    -ms-transform: $t;
    -o-transform: $t;
    transform: $t;
}

@mixin transform-origin($t...) {
    -webkit-transform-origin: $t;
    -moz-transform-origin: $t;
    -ms-transform-origin: $t;
    -o-transform-origin: $t;
    transform-origin: $t;
}

@mixin perspective($t...) {
	-webkit-perspective: 1200px;
    perspective: 1200px;
}

